<h1 id="aboutus-h1" style="text-align: center;">About Us</h1>

<link rel='stylesheet' href='/css/aboutus.css' />

<div class="aboutus-container">
  <div class="cover-photo">
    <img src="/images/jun-profile.PNG" class="profile">
  </div>
  <div class="profile-name">Jun Park</div>
  <p class="about">A full stack developer<br>who loves your pets!</p>
  <a href="mailto:tajo0215@gmail.com"><button class="msg-btn">Message</button></a>
  <div>
    <a class="btn btn-default btn-lg" href="https://github.com/zzangu0215" title="Jun on Github" target="_blank"><i
        class="fa fa-github"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/junnyzzangu/" title="Jun LinkedIn"
      target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.instagram.com/o0ojunny/" title="Jun on Instagram"
      target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="btn btn-default btn-lg" href="https://zzangu0215.github.io/portfolio/" title="Jun's Portfolio"
      target="_blank"><i class="fa fa-lightbulb-o"></i></a>
  </div>
</div>

<div class="aboutus-container">
  <div class="cover-photo">
    <img src="/images/izzy_prof.png" class="profile">
  </div>
  <div class="profile-name">Israel Magallon</div>
  <p class="about">Just a guy who knows how to code.<br>Let me pet your dog</p>
  <a href="mailto:izzymagallonworks@gmail.com"><button class="msg-btn">Message</button></a>
  <div>
    <a class="btn btn-default btn-lg" href="https://github.com/imagallon" title="Jun on Github" target="_blank"><i
        class="fa fa-github"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/israel-magallon-5951b3214/"
      title="Israel's LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.instagram.com/strawhatizzy/" title="Israel on Instagram"
      target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="btn btn-default btn-lg" href="https://imagallon.github.io/portfolio1.1/" title="Israel's Portfolio"
      target="_blank"><i class="fa fa-lightbulb-o"></i></a>
  </div>
</div>

<div class="aboutus-container">
  <div class="cover-photo">
    <img
      src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
      class="profile">
  </div>
  <div class="profile-name">Vivianna Cowan</div>
  <p class="about">User Interface Designer and<br>front-end developer</p>
  <a href="mailto:tajo0215@gmail.com"><button class="msg-btn">Message</button></a>
  <div>
    <a class="btn btn-default btn-lg" href="https://github.com/zzangu0215" title="Jun on Github" target="_blank"><i
        class="fa fa-github"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/junnyzzangu/" title="Jun LinkedIn"
      target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-default btn-lg" href="https://www.instagram.com/o0ojunny/" title="Jun on Instagram"
      target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="btn btn-default btn-lg" href="https://zzangu0215.github.io/portfolio/" title="Jun's Portfolio"
      target="_blank"><i class="fa fa-lightbulb-o"></i></a>
  </div>
</div>

<script src="/js/aboutus.js"></script>