<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel='stylesheet' href='/css/aboutus.css'/>

<div class="aboutus-container">
  <div class="cover-photo">
    <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
  </div>
  <div class="profile-name">Jun Park</div>
  <p class="about">User Interface Designer and<br>front-end developer</p>
  <button class="msg-btn">Message</button>
  <button class="follow-btn">Following</button>
  <div>
    <i class="fab fa-github"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>

<div class="aboutus-container">
  <div class="cover-photo">
    <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
  </div>
  <div class="profile-name">Israel Magallon</div>
  <p class="about">User Interface Designer and<br>front-end developer</p>
  <button class="msg-btn">Message</button>
  <button class="follow-btn">Following</button>
  <div>
    <i class="fab fa-github"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>

<div class="aboutus-container">
  <div class="cover-photo">
    <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
  </div>
  <div class="profile-name">Vivianna Cowan</div>
  <p class="about">User Interface Designer and<br>front-end developer</p>
  <button class="msg-btn">Message</button>
  <button class="follow-btn">Following</button>
  <div>
    <i class="fab fa-github"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-fa-linkedin"></i>
  </div>
</div>

<script src="/js/aboutus.js"></script>