<h1 id="homepage-h1" style="text-align: center;">Welcome to MyKNL</h1>

{{!-- <a href='/Login'><button class="home-login">Login</button></a> --}}

<div class="homepage-container">

  <br>
  <h2 id="myknl-zap">MyKNL ZAP</h2>
  <div class="welcome-box">
    <div class="welcome-card">
      <div class="logoBox">
        <img src="/images/logo-dark.jpg" alt="myknl-logo">
      </div>
      <div class="welcome-msg">
        <h2 class="welcome-msg-h2">Kennel Reservations <br>For Your Loved Ones</h2>
      </div>
    </div>

    <h4 class="welcome-details"> MyKNL is a free-range dog boarding business.<br><br> We specialize in all breeds of dogs, including aggressive ones. Our
      philosopy is that all dogs need a home, so if you find yourself unable to take care of your dog, we will help
      house your dog through our fostering program.
    </h4>

  </div>

  <br><br>
  <h2 id="customer-review-h2">Customer Reviews</h2>
    <div class="review-container1">
      <div class="review review-down cyan">
        <h2 class="reviewer">Maxwell Dunn
        </h2>
        <img class="review-profile" src="/images/max_prof.jpg" alt="">
        <br><br>
        <p>Our experience with Specialty Dog Training was awesome. Becca was our trainer for Aussie Mini, Bandit.
He came back to us a perfect gentleman. People are in awe of our well behaved dog. Exceeded our expectations.</p>
      </div>

      <div class="review red">
        <h2 class="reviewer">Vivianna Cowan
        </h2>
        <img class="review-profile" src="/images/jun-profile.PNG" alt="">
        <br><br><br>
        <p>It is great to know that MyKnl is available to book online. I travel a good amount for work and do not like
        burdening my friends and family to watch my precious fluffers. The staff at MyKnl are very knowledgable and
        friendly. Highly reccomended</p>
      </div>

      <div class="review review-down blue">
        <h2 class="reviewer">Israel Magallon
        </h2>
        <img class="review-profile" src="/images/izzy_prof.png" alt="">
        <br><br><br>
        <p>Great place for dog day care and boarding . My dog comes back so content and exhausted. When we drive up he gets
        so excited to go to his favorite place .</p>
      </div>
    </div>
    <div class="review-container2">
      <div class="review orange">
        <h2 class="reviewer">Jun Park
        </h2>
        <img class="review-profile" src="/images/jun-profile.PNG" alt="">
        <br><br><br>
        <p>My fur baby has been going to MyKnl for her pawcation for 3 years. I am happy to leave my dog in a home
        environment instead of a kennel/cage with many many dogs. When she stays with MyKnl it is like she is
        visiting family. MyKnl sends pictures via text of my dog having an Awesome pawcation, then I can enjoy my
        vacation.
        I highly recommend MyKnl.</p>
      </div>
    </div>

</div>

