<h1 id="homepage-h1" style="text-align: center;">Home Page</h1>

<a href='/Login'><button class="home-login">Login</button></a>

<div class="homepage-container">
  <h1 style="text-align: center;">Availabilities</h1>

  <div class="box box-down cyan">
    <h2>Kennel 1</h2>
    <p>Capacity: 3 dog(s)</p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>

  <div class="box box-down orange">
    <h2>Kennel 2</h2>
    <p>Capacity: 2 dog(s)</p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
  </div>

  <div class="box box-down blue">
    <h2>Kennel 3</h2>
    <p>Capacity: None</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>
</div>

{{!-- {{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!</p>
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}} --}}