<h1 id="homepage-h1" style="text-align: center;">Home Page</h1>

{{!-- <a href='/Login'><button class="home-login">Login</button></a> --}}

<div class="homepage-container">
  <h1 style="text-align: center;">Welcome to MyKNL</h1>

  <div class="box box-down cyan">
    <h2>We are currently accepting kennel reservations for your loved ones</h2>
    <p> MyKnl is a free-range dog boarding business. We specialize in all breeds of dogs, including aggressive ones. Our
      philosopy is that all dogs need a home, so if you find yourself unable to take care of your dog, we will help
      house your dog through our fostering program.
    </p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>
  <br>
  <br>
  <br>
  <div class="box box-down orange">
    <h2>What our Customers say</h2>
    <h4>Samus A</h4>
    <p> My fur baby has been going to MyKnl for her pawcation for 3 years. I am happy to leave my dog in a home
      environment instead of a kennel/cage with many many dogs. When she stays with MyKnl it is like she is
      visiting family. MyKnl sends pictures via text of my dog having an Awesome pawcation, then I can enjoy my
      vacation.
      I highly recommend MyKnl</p>
    <h4>Ronney C</h4>
    <p> Great place for dog day care and boarding . My dog comes back so content and exhausted. When we drive up he gets
      so excited to go to his favorite place .</p>
    <h4>Zepher P</h4>
    <p> It is great to know that MyKnl is available to book online. I travel a good amount for work and do not like
      burdening my friends and family to watch my precious fluffers. The staff at MyKnl are very knowledgable and
      friendly. Highly reccomended </p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
  </div>

  <div class="box box-down blue">
    <h2>Kennel 3</h2>
    <p> Feel free to <a href="/aboutus">contact us</a> us for any questions or concerns</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>
</div>

{{!-- {{#if isLoggedIn}}
<h2>Welcome, {{user.username}}!</h2>
<p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!</p>
{{#unless isLoggedIn}}
<br />
<a class='btn' href='/signup'>Sign Up</a>
{{/unless}} --}}