<form>
  <div class="login-container" id='interactive2'>
    <label for="username"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="username" id="username">
    <br><br>

    <label for="password"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="password" id="password">
    <br><br>

    <button type="submit" class="submitBtn">Login</button>

  </div> <!--container4-->
  <p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
</form>
<script src='/js/login.js'></script>