<form class="login-form">

  <div class="login-container" id='interactive2'>
    <h2>Login</h2>
    <br>

    <label for="username"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="username" id="username">
    <br>

    <label for="password"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="password" id="password">
    <br>

    <button type="submit" class="loginBtn">Login</button>

    <br>
    <p>Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
    
  </div> <!--container4-->
</form>

<script src='/js/login.js'></script>