<h1 id="profile-h1" style="text-align: center;">Welcome, {{username}}!</h1>

{{#if pets.length}}
  <div class="profile-container pet-list">
   <h1 style="text-align: center;">Your Pets:</h1>
    {{#each pets as |pet|}}
      <div class="pet-box box-down cyan">
        <h2>{{pet.name}}
          <button class="icon-btn remove-btn" data-id="{{pet.id}}">
            <div class="btn-txt">Remove</div>
          </button>
        </h2>
      </div>  
    {{/each}}
  </div>
{{/if}}


<div class="profile-container">
  <h1 style="text-align: center;">Add more pet!</h1>

  <div class="addpet-container">
    <label for="password"><b>Enter your pet's name.</b></label>
    <br>
    <input type="text" placeholder="Wrangler" name="petname" id="added-pet">
    <br>
    <button type="submit" id="petAdd" class="addpetBtn">Submit</button>
  </div>

</div>

<script src="/js/pet.js"></script>