<h1 id="profile-h1" style="text-align: center;">User Profile</h1>

<div class="profile-container">
  <h1 style="text-align: center;">Your Pets</h1>

  <div class="box box-down cyan">
    <h2>Zzangu</h2>
    <div type='button' name='delete' class='delete-btn' >
      <div class='delete-btn-left'>
        <i class='but-icon fa fa-lg fa-times'></i>

        <div class='delete-btn-bar'>
          <i class='but-icon fa fa-lg fa-check'></i>
        </div>
      </div>
      <div class='delete-btn-right'></div>
    </div> 
  </div>
</div>

<script src="/js/profile.js"></script>