<h1 id="reservationlists-h1" style="text-align: center;">Reservation Lists</h1>

{{#each reservations as |reservation|}}
<h2>{{reservation.id}}</h2>
{{/each}}

<div class="reservations-list">
  
  <div class="reservation">
    <div class="kennel_image">
      <img src="/images/kennel1.jpg">
    </div>
    <div class="reserved-pet">
      <p>Reservation for Zzangu
        <button class="icon-btn remove-btn">
          <div class="btn-txt">Remove</div>
        </button>
      </p>
    </div>
  </div>

  <div class="reservation">
    <div class="kennel_image">
      <img src="/images/kennel2.jpg">
    </div>
    <div class="reserved-pet">
      <p>Reservation for Meka
        <button class="icon-btn remove-btn">
          <div class="btn-txt">Remove</div>
        </button>
      </p>
    </div>
  </div>

  <div class="reservation">
    <div class="kennel_image">
      <img src="/images/kennel3.jpg">
    </div>
    <div class="reserved-pet">
      <p>Reservation for Zara
        <button class="icon-btn remove-btn">
          <div class="btn-txt">Remove</div>
        </button>
      </p>
    </div>
  </div>

</div>
