<h1>Reservation Page with the calendar</h1>

<div id="app">
  <v-date-picker is-expanded v-model="range" :model-config="modelConfig" is-range ></v-date-picker>
</div>

<script>
  data() {
  return {
    range: {
      start: new Date(2020, 0, 6),
      end: new Date(2020, 0, 9),
    },
    modelConfig: {
      start: {
        timeAdjust: '00:00:00',
      },
      end: {
        timeAdjust: '23:59:59',
      },
    },
  }
}
</script>

<script src='https://unpkg.com/vue/dist/vue.js'></script>

    <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
<script src='https://unpkg.com/v-calendar'></script>

    <!--3. Create the Vue instance-->
<script>
  new Vue({
    el: '#app',
    data: {
      selectedDate: null,
    }
  })
</script>