<!-- DATERANGE -->
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
<section id="daterange-section">
  <div data-cy="daterange-inputs-parent">
    <h2>Please select your dates</h2>
    <div id="daterange-inputs-container">
      <div id="daterange-input-start-container" data-cy="daterange-input-start-container">
        <input data-cy="daterange-input-start" type="text">
      </div>
      <div id="daterange-input-end-container" data-cy="daterange-input-end-container">
        <input data-cy="daterange-input-end" type="text">
      </div>
    </div>
     <button type="submit" class="loginBtn">Submit</button>
  </div>
</section>
<script src="https://unpkg.com/js-datepicker"></script>
<script src="/js/datePicker.js"></script>

