body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  opacity: 0.92;
}

b {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 28px;
  background-color: #e7e7e7;
  color: black;
}

/* login and signup form */

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 15px;
  margin: 5px;
  display: flex;
  border: none;
  background: rgb(230, 230, 230);
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.login-form,
.signup-form,
.datepick-form {
  display: flex;
  justify-content: center;
}

.login-container,
.signup-container,
.addpet-container,
.datepick-container,
.choosepet-container {
  justify-content: center;
  padding: 10vmin;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 5vmin;
}

.homepage-container,
.profile-container,
.reservationpage-container {
  justify-content: center;
  background: rgb(240, 237, 236);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 2vmin;
  margin: 2vmin;
  border-radius: 7px;
}

/* .signup-container {
  padding-right: 40vmin;
} */

.loginBtn,
.signupBtn,
.addpetBtn,
.dateSelectBtn,
.confirmBtn,
.cancelBtn {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    -45deg,
    #330099 15%,
    #660088 40%,
    #0099ff 90%
  );
  color: white;
  font-weight: 450;
  text-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87),
    0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87);
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 2%;
  padding: 1rem 0.5rem;
  font-size: 2.5vmin;
}

.loginBtn {
  width: 35%;
}

.signupBtn {
  width: 50%;
}

.addpetBtn {
  width: 50%;
}

.dateSelectBtn {
  width: 50%;
}

.confirmBtn,
.cancelBtn {
  width: 50%;
}

.loginBtn:hover,
.signupBtn:hover {
  transition: 2s;
  background-size: 200% auto;
  background-position: right center;
  border-radius: 30px;
}

#logo {
  width: 20%;
  height: auto;
}

/* cards */

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
  .pet-box {
    text-align: center;
    height: 180px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
  .pet-box {
    text-align: center;
    height: 100px;
  }
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.cyan {
  border-top: 3px solid var(--cyan);
}

.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

/* delete button on the profile page */
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.remove-btn:hover {
  width: 120px;
}

.remove-btn::before,
.remove-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}

.remove-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.remove-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  font-size: medium;
  opacity: 0;
  transition: opacity 0.2s;
}

.remove-btn:hover::before,
.remove-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.remove-btn:hover .btn-txt {
  opacity: 1;
}

.remove-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.remove-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* reservation lists cards */

.reservations-list {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reservation {
  margin: 30px auto;
  width: 500px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.reservation .kennel_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.reservation .kennel_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.reservation .reserved-pet {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
  color: hsl(180, 62%, 55%);
}

.reservation:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .reservations-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* reservation page kennel selection */
.kennel-select {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  width: 100%;
  margin: 0;
  padding: 0;
}

.pets-selection,
.pets-dropdown {
  width: 100%;
}

.user-pet {
  width: 100%;
}
