body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-image: url("../images/main-bg.jpg");
  background-repeat: repeat;
  opacity: 0.92;
}

b {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.btn {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-logout {
  padding: 10px 28px;
  background-color: #e7e7e7;
  color: black;
}

#homepage-h1,
#aboutus-h1,
#profile-h1,
#reservationlists-h1,
#reserve-calendar-h1,
#reserve-kennel-h1 {
  font-family: "Concert One", cursive;
  background-color: white;
}

#your-pets,
#add-more-pet,
#available-kennels,
#choose-your-pet {
  font-family: "Lobster", cursive;
}

/* navbar */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.this-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  font-family: "Satisfy", cursive;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  font-family: "Satisfy", cursive;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  font-family: "Satisfy", cursive;
}

.navbar a:hover {
  color: #117964;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    font-family: "Satisfy", cursive;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Satisfy", cursive;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    font-family: "Satisfy", cursive;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

/* login and signup form */

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 15px;
  margin: 5px;
  display: flex;
  border: none;
  background: rgb(230, 230, 230);
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.login-form,
.signup-form,
.datepick-form {
  display: flex;
  justify-content: center;
}

.login-container,
.signup-container,
.addpet-container,
.datepick-container,
.choosepet-container {
  justify-content: center;
  padding: 10vmin;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 5vmin;
}

.homepage-container,
.profile-container,
.reservationpage-container,
.reservationlists-container {
  justify-content: center;
  background: rgb(240, 237, 236);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 2vmin;
  margin: 2vmin;
  border-radius: 7px;
}

/* .signup-container {
  padding-right: 40vmin;
} */

.loginBtn,
.signupBtn,
.addpetBtn,
.dateSelectBtn,
.confirmBtn,
.cancelBtn {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    -45deg,
    #330099 15%,
    #660088 40%,
    #0099ff 90%
  );
  color: white;
  font-weight: 450;
  text-shadow: -0.5px 0 rgb(87, 87, 87), 0 0.5px rgb(87, 87, 87),
    0.5px 0 rgb(87, 87, 87), 0 -0.5px rgb(87, 87, 87);
  border-radius: 30px;
  border: 0px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 2%;
  padding: 1rem 0.5rem;
  font-size: 2.5vmin;
}

.loginBtn {
  width: 35%;
}

.signupBtn {
  width: 50%;
}

.addpetBtn {
  width: 50%;
}

.dateSelectBtn {
  width: 50%;
}

.confirmBtn {
  float: right;
}

.confirmBtn,
.cancelBtn {
  width: 30%;
}

.loginBtn:hover,
.signupBtn:hover {
  transition: 2s;
  background-size: 200% auto;
  background-position: right center;
  border-radius: 30px;
}

#logo {
  width: 20%;
  height: auto;
}

/* cards */

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
  .pet-box {
    text-align: center;
    height: 180px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
  .pet-box {
    text-align: center;
    height: 100px;
  }
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.cyan {
  border-top: 3px solid var(--cyan);
}

.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

/* delete button on the profile page and reservation lists page */
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.remove-btn:hover {
  width: 120px;
}

.remove-btn::before,
.remove-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}

.remove-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.remove-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  font-size: medium;
  opacity: 0;
  transition: opacity 0.2s;
}

.remove-btn:hover::before,
.remove-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.remove-btn:hover .btn-txt {
  opacity: 1;
}

.remove-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.remove-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* reservation page kennel selection */
.kennel-select {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  width: 100%;
  margin: 0;
  padding: 0;
}

.pets-selection,
.pets-dropdown {
  width: 100%;
}

.user-pet {
  width: 100%;
}

/* reservation/kennel */
.kennel-card {
  position: relative;
  max-width: 85%;
  margin: 2rem auto;
  padding: 2em;
  background: #fff;
}

.kennel-card__title {
  margin: 0 auto 1em;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.kennel-card__img {
  display: block;
  width: 20em;
  max-width: 100%;
  max-height: 250px;
  margin: 1em auto;
  border-radius: 2px;
}

.kennel-card__text {
  margin: 2em 5%;
  color: #646464;
  text-align: center;
}

.kennelSelectBtn {
  display: table;
  padding: 0.7em 4em;
  background: #ddba76;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em auto 0;
}

.petSelectBtn {
  width: 100%;
}

/* footer */

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-logo {
  display: inline-block;
  width: 22%;
  height: auto;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* home page */

.welcome-box {
  width: 85%;
  display: grid;
  grid-gap: 15px;
  margin: 0 auto;
  column-count: 2;
}

.welcome-card {
  float: left;
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.welcome-card:before,
.welcome-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
.welcome-card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.welcome-card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.welcome-card .logoBox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transition: 0.5s;
  z-index: 1;
}

.welcome-card:hover .logoBox {
  bottom: 80px;
}

.welcome-card .logoBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-card .welcome-msg {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.welcome-card .welcome-msg h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.welcome-details {
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Concert One", cursive;
}

.welcome-msg-h2 {
  font-family: "Caveat", cursive;
}

#customer-review-h2,
#myknl-zap {
  text-align: center;
  font-family: "Satisfy", cursive;
}

.review-container1,
.review-container2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.review-profile {
  width: 60px;
  border-radius: 60px;
  float: right;
}

.red {
  border-top: 3px solid var(--red);
}

.review p {
  color: var(--grayishBlue);
}

.review {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  background-color: linen;
}

@media (max-width: 450px) {
  .review {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .review {
    text-align: center;
    height: 230px;
  }

  .reviewer {
    float: left;
  }
}

@media (min-width: 950px) {
  .review-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review-down {
    position: relative;
    top: 150px;
  }
  .review {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}

/* reservation lists cards */
.main {
  max-width: 1200px;
  margin: 0 auto;
}

.reserved-kennel-id {
  color: rgb(75, 57, 57);
  font-weight: bolder;
}

.reserved-pet-name {
  color: blueviolet;
  font-weight: bolder;
  text-transform: capitalize;
}

.reservations-list {
  z-index: 1;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kennel-img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.reservation-lists-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reservation-lists-cards_item {
  display: flex;
  padding: 1rem;
}

.reservation-lists-cards_item img {
  width: 500px;
  height: 300px;
}

@media (min-width: 40rem) {
  .reservation-lists-cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .reservation-lists-cards_item {
    width: 33.3333%;
  }
}

.reservation-lists-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.reservation-lists-card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.reservation-lists-card_title {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.reservation-dates {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.reservation-lists-card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
